*{
	font-family: 'Josefin Slab', serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.42857;
    color: #ffffff;
}
body{
	background: #ffffff;
}
.register-login-wrapper{
	display: flex;
	height: 60rem;
	padding-top:5rem; 
	/*width: 60rem;*/
	justify-content: center;
   align-items: center;
}

.register-login-card
{
	background: #edf4f9;
	width: 40rem;
	height:52rem;
	padding: 1rem;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.register-login-card-header{
	height: 3rem;
	width: 38rem;
	background:#3575d3;

	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	
}
.registration-form{
	
	padding: 2%;
	ont-weight: bold;
}
 .registration-form form label {
	color: #3575d3;
	font-weight: 600;
}
.registration-form form input, .registration-form form textarea, .registration-form form option {
	color: black;
	/*font-weight:bold;*/
}